
Matchismo.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Matchismo.xcodeproj/project.xcworkspace/xcuserdata/sergey.xcuserdatad/UserInterfaceState.xcuserstate

Matchismo.xcodeproj/project.xcworkspace/xcuserdata/sergey.xcuserdatad/WorkspaceSettings.xcsettings

Matchismo.xcodeproj/xcuserdata/sergey.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Matchismo.xcodeproj/xcuserdata/sergey.xcuserdatad/xcschemes/Matchismo.xcscheme

Matchismo.xcodeproj/xcuserdata/sergey.xcuserdatad/xcschemes/xcschememanagement.plist
